@CHARSET "UTF-8";

html{
  	position:relative; 
  	min-height:100%;
}
html,body{
  	margin:0;
  	padding:0;
  	background:#eee;
  	background-image: url("Fontello/boards-black-line-texture-background-wood.jpg");
}
a {
	text-decoration: none;
	color:black;
}
#container {
	height:100%;
	color:#000;
	background:#eee;
	background-image: url("Fontello/boards-black-line-texture-background-wood.jpg");
}
#mainHeader {
	background:#222;
	color:#eee;
	font-size:30px;
	font-family:Arial;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	padding:20px;
	box-shadow:0 10px 40px #111;
}
#git {
	position:fixed;
    left:-22px;
    top:250px;
    color:#eee;
    font-family:Arial;
	text-align:center;
    width:55px;
  	height:25px;
  	padding:15px 5px 0 5px;
  	background:#333;
   	transform:rotate(270deg);
 	-moz-transform:rotate(270deg);
  	-webkit-transform:rotate(270deg);
  	-o-transform:rotate(270deg);
  	margin:0 auto;
  	text-decoration: none;
  	border-radius:10px;
}
#taiga {
	position:fixed;
    left:-22px;
    top:350px;
    color:#444;
    font-family:Arial;
	text-align:center;
    width:55px;
  	height:25px;
  	padding:15px 5px 0 5px;
  	background:#00DB79;
   	transform:rotate(270deg);
 	-moz-transform:rotate(270deg);
  	-webkit-transform:rotate(270deg);
  	-o-transform:rotate(270deg);
  	margin:0 auto;
  	text-decoration: none;
  	border-radius:10px;
}
a#git:hover {
    background: #555;
    color: white;
    box-shadow:0 5px 10px #444;
}
a#taiga:hover {
    background: #00B96A;
    color: white;
    box-shadow:0 5px 10px #444;
}
#addNew {
	background:#222;
	padding:10px;
	color:white;
	font-family:Arial;
	width:1280px;
	height:40px;
    margin:0 auto;
    margin-top:50px;
    box-shadow:10px 10px 40px #111;
}
#viewEvents {
	background:#fff;
	width:1280px;
	margin:0 auto;
	padding:10px;
	margin-bottom:100px;
	box-shadow:10px 10px 40px #111;
}
#footer {
	background:#222;
	color:#eee;
	font-size:16px;
	font-family:Arial;
	width:94%;
	height:36px;
	padding:20px 3% 0 3%;
  	position:absolute;
 	bottom:0;
 	left:0;
    right:0;
}
.bigButton {
    margin:0 10px 0 10px;
    padding:6px 10px 28px 10px;
    height:29px;
    font-size:14px;
    border-radius:5px;
    outline:none;
  	color:#fff;
  	background:#4CAF50;
  	border:none;
  	text-shadow:none;
  	box-shadow:0 6px #999;
}
.bigButton:hover {
    background-color:#3e8e41
}
.bigButton:active {
    background-color:#3e8e41;
  	box-shadow:0 3px #666;
  	transform:translateY(4px);
}
.ui-menubutton .ui-state-default {
    margin:0 10px 0 10px;
    padding:5px 10px 28px 10px;
    height:29px;
    font-size:14px;
    padding-top:6px;
    border-radius:5px;
    outline:none;
  	color:#fff;
  	background:#4CAF50;
  	border:none;
  	text-shadow:none;
  	box-shadow:0 7px #999;
}
.ui-menubutton .ui-state-default:hover {
    background-color:#3e8e41;
}
.ui-menubutton .ui-state-default:active {
    background-color:#3e8e41;
  	box-shadow:0 5px #666;
  	transform:translateY(4px);
}
.mediumButton {
    margin:0 10px 10px 10px;
    padding:3px 10px 23px 10px;
    height:18px;
    font-size:12px;
    border-radius:5px;
    outline:none;
  	color:#fff;
  	background:#4CAF50;
  	border:none;
  	text-shadow:none;
  	box-shadow:0 6px #999;
  	font-weight:bold;
}
.mediumButton:hover {
    background-color:#3e8e41
}
.mediumButton:active {
    background-color:#3e8e41;
  	box-shadow:0 3px #666;
  	transform:translateY(4px);
}
.smallButton {
	text-decoration: none;
	display:inline-block;
	width:40px;
	height:25px;
	text-align:center;
  	padding-top:6px;
    border-radius:5px;
    outline:none;
  	color:#fff;
  	background-color:#4CAF50;
  	border:none;
  	box-shadow:0 6px #999;
  	margin-top:-17px;
}
.smallButton:hover {
    background-color:#3e8e41
}
.smallButton:active {
	background-color:#3e8e41;
  	box-shadow:0 3px #666;
  	transform:translateY(4px);
}
.ui-menuitem:hover {
  	color:#fff;
  	background:#4CAF50;	
  	box-shadow:0 3px #999;
}
.ui-menuitem:active {
    background-color:#3e8e41;
  	box-shadow:0 1px #666;
  	transform:translateY(4px);
}
.scrollToTop {
	text-decoration: none;
	width:48px; 
	height:46px;
	font-size:35px;
	padding:5px; 
	text-align:center; 
	background:#ccc;
	font-weight: bold;
	color: #444;
	position:fixed;
	bottom:75px;
	right:40px;
	opacity:0.5;
}
.scrollToTop:hover{
	text-decoration:none;
	transition-duration:1s;
	opacity:0.9;
}
#whiteBox{
	display:inline-block;
	position:absolute;
	left:251px;
	top:10px;
	width:115px; 
	height:30px;
	background-color:white;
}
.ui-messages-error.ui-message-error {
	color:#D8000C;
	background-color:#fff!important;
}
.message {
	font-size:8px;
}
tr {
	font-family:Arial;
}
.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}	
.ui-widget-content {
	background:#fff;
	margin-top:5px;
	padding:10px;
	box-shadow: 0 4px 8px 0 #666;
}
table {
   	border-collapse: collapse;
    width: 100%;
    vertical-align:bottom;
    padding-top:10px;
}
th, td {
   	padding: 5px;
   	text-align: left;
   	border-bottom: 1px solid #ddd;
}
td {
	padding: 5px;
	vertical-align:top;
	padding-top:22px;
}
tr:hover {
	background-color:#f5f5f5;
}